p{
    color: purple;
}


h1{
    color:  #fff ;
    background-color: #c2c2;
}


body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    background-color: blue;
    width: 600px;
    height: 40vh;
    /* margin: 0 auto; */
}